@{
	ViewData["Title"] = "Assistant Schedule";
    var schedule = ViewData["Schedule"] as IEnumerable<InstructorSchedule>;
}

<div class="container assistant-schedule schedule-s mt-4" style="max-width: 800px;
    margin: auto;">
    <div class="header-section">
        <div>
            <h5>Ministry of Higher Education</h5>
            <h6>Modern University for Technology and Information</h6>
            <h6>Faculty of Computers and Artificial Intelligence</h6>
            <p class="p-0 fs-5 fw-bold semester">Semester : @schedule?.FirstOrDefault().Semester @schedule?.FirstOrDefault().AcademicYear</p>
        </div>
        <div>
            <img src="~/images/Mti(Gray).png" alt="MTI Logo" width="150">
        </div>
    </div>
    <h5 class="text-center">Teaching Assistant Timetable</h5>
    <p><strong>Assistant:</strong>  @schedule?.FirstOrDefault().Assistant.FirstName @schedule?.FirstOrDefault().Assistant.MiddleName @schedule?.FirstOrDefault().Assistant.LastName</p>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Day</th>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>Type</th>
                <th>Place</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dayGroup in schedule.GroupBy(s => s.Day))
            {
                bool firstRow = true;
                @foreach (var row in dayGroup)
                {
                    <tr>
                        @if (firstRow)
                        {
                            <td rowspan="@dayGroup.Count()">@row.Day</td>
                            firstRow = false;
                        }
                        <td>@row.CourseCode</td>
                        <td>@row.Course?.Name</td>
                        <td>@row.Place?.Type</td>
                        <td>@row.Place?.Name</td>
                        <td>@row.TimeBegin.ToString(@"hh\:mm")</td>
                        <td>@row.TimeEnd.ToString(@"hh\:mm")</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div class="notes text-center">
        <p><strong>:ملحوظة</strong></p>
        <p>
            <strong>
                ١- التحميل الموضح عاليه بالاضافة الالتزام بحضور محاضرات السادة محاضري المقررات بالتنسيق
                معهم
            </strong>
        </p>
        <p>
            <strong>
                ٢- عدم تغيير اي من المواعيد السابقة سواء لرغبة شخصية او لرغبه الطلاب لتعارض ذلك مع جداول باقي
                زملائهم
            </strong>
        </p>
    </div>
    <div class="signature">
        <p><strong>التوقيع:</strong> ______________</p>
        <p><strong>أ.د/محمد طاهر المياح</strong></p>
        <p><strong>عميد كلية الحسابات والمعلومات</strong></p>
    </div>
</div>