@{
    ViewData["Title"] = "Student Schedule";
    var schedule = ViewData["Schedule"] as IEnumerable<StudentSchedule>;
    var groupedSchedule = schedule?.GroupBy(s => s.Day) ?? new List<IGrouping<string, StudentSchedule>>();
}

<section class="student">
    <div class="container py-3">
        <div class="heading-schedule d-flex justify-content-between align-items-center">
            <p class="p-0 fs-5 fw-bold semester">Semester of <span id="semester">@schedule?.FirstOrDefault().Semester</span> <span id="academicyear">@schedule?.FirstOrDefault().AcademicYear</span></p>
            <img src="../images/Mti(Gray).png" alt="">
        </div>
        <h1 class="heading text-center m-1">Schedule of Classes</h1>
        <div class="w-100 mt-1 d-flex justify-content-around">
            <p class="fs-3 fw-bold mb-0">Level: <span id="level">@schedule?.FirstOrDefault().Level</span> 
                <span id="dep">@schedule?.FirstOrDefault().Department.Name</span>
            </p>
        </div>
        <div class="schedule">
            @if (!groupedSchedule.Any())
            {
                <p class="text-center text-muted">No schedule available</p>
            }
            else
            {
                @foreach (var daySchedule in groupedSchedule)
                {
                    <p class="day fs-5 fw-bold">@daySchedule.Key</p>
                    <table class="table scheduleTable">
                        <thead>
                            <tr class="table-secondary">
                                <th>Code</th>
                                <th>Course Title</th>
                                <th>Instructor</th>
                                <th>Place</th>
                                <th>Type</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var row in daySchedule)
                            {
                                <tr>
                                    <td>@row.CourseCode</td>
                                    <td>@row.Course?.Name</td>
                                    <td>@row.Instructor?.FirstName @row.Instructor?.MiddleName @row.Instructor?.LastName @row.Assistant?.FirstName @row.Assistant?.MiddleName @row.Assistant?.LastName </td>
                                    <td>@row.Place?.Name</td>
                                    <td>@row.Place?.Type</td>
                                    <td>@row.TimeBegin.ToString(@"hh\:mm") - @row.TimeEnd.ToString(@"hh\:mm")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
        </div>
    </div>
</section>