@{
    ViewData["Title"] = "Dashboard";
    var courses = ViewData["Courses"] as IEnumerable<Course>;
    var departments = ViewData["Departments"] as IEnumerable<Department>;
}
<section class="admin">
    <div class="container dashboard py-5">
        <h2 class="mb-3">Courses</h2>
        <table class="table table-striped table-hover" id="courses-table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>level</th>
                    <th>No of Lectures</th>
                    <th>No of Sections</th>
                    <th>No of Hours</th>
                    <th>Department</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in courses)
                {
                    <tr>
                        <td>@course.Code</td>
                        <td>@course.Name</td>
                        <td>@course.Level</td>
                        <td>@course.NoOfLec</td>
                        <td>@course.NoOfSec</td>
                        <td>@course.CreditHour</td>
                        <td>@course.Department.Name</td>
                        <td>
                            <a asp-action="CourseEditPage" asp-controller="Admin" asp-route="@course.Code" class="btn btn-small btn-success">Edit</a>
                            <a asp-action="Delete" asp-controller="Course" asp-route-id="@course.Code" class="btn btn-small btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br>
        <div>
            <a class="btn btn-primary w-25 d-block m-auto" asp-controller="Admin" asp-action="CourseAddPage">Add Course</a>
        </div>
        <h2 class=" mb-3">Departments</h2>
        <table class="table table-striped table-hover" id="departments-table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dep in departments)
                {
                    <tr>
                        <td>@dep.Id</td>
                        <td>@dep.Name</td>
                        <td>
                            <a asp-action="DepartmentEditPage" asp-controller="Admin" asp-route-id="@dep.Id" class="btn btn-small btn-success">Edit</a>
                            <a asp-action="Delete" asp-controller="Department" asp-route-id="@dep.Id" class="btn btn-small btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br>
        <div>
            <a class="btn btn-primary w-25 d-block m-auto" asp-controller="Admin" asp-action="DepartmentAddPage">Add Department</a>
        </div>
    </div>
</section>